.input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 2px;
}

.input input:focus {
  border: 0;
  outline: none;
}

.input__label {
  color: var(--text);
}

.input__color {
  background-color: var(--bg-panel);
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0 10px 0 0;
}
.input__color:focus, .input__color:active {
  background-color: var(--bg-panel);
  border: none;
  outline: none;
  margin: 0;
  padding: 0 10px 0 0;
}

.input__content_before {
  display: flex;
  justify-self: center;
}
.input__content_after {
  display: flex;
  justify-self: center;
}

.input_inline {
  display: inline-flex;
}

.input_grid3 {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.input__range {
  --thumbSize: 16px;
  --trackSize: 2px;
  background-color: var(--bg-panel);
  -webkit-appearance: none;
  appearance: none;
  height: var(--thumbSize);
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.input__range::-webkit-slider-runnable-track {
  background: var(--text);
  height: var(--trackSize);
  border-radius: calc(var(--trackSize) / 2);
}

.input__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 1 solid var(--text);
  background: var(--text);
  width: var(--thumbSize);
  height: var(--thumbSize);
  border-radius: calc(var(--thumbSize));
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
}

.input__range:hover::-webkit-slider-thumb {
  cursor: pointer;
}

.input__range:hover::-webkit-slider-runnable-track {
  cursor: pointer;
}

.input__text {
  margin: 8px 10px;
  border: 0;
  background-color: var(--bg-panel);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.input__text:focus {
  border: 0;
  outline: none;
}

.input__text::placeholder {
  color: var(--gray_2);
  flex-grow: 1;
  user-select: none;
}

.input__content_before {
  padding-left: 12px;
}

.input__content_after {
  padding-right: 12px;
}


.input_w_40per input {
  width: 40%;
}

.input_w_60per input {
  width: 60%;
}
.input_w_70per input {
  width: 70%;
}

.input_w_80per input {
  width: 80%;
}

.input_w_100per input {
  width: 100%;
}
