.combobox {
  -webkit-appearance: none;
  padding: 5px 10px;
  width: 150px;
  border-radius: 3px;
  background: #FFFFFF;
  outline: none;

  &:focus {
    background: #FFFFFF;
    outline: none;
  }

  &:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
}
