@import '../../colors.scss';

.checkbox {
  --checkSize: 12px;
  --checkWidth: 28px;
  --checkBorder: 1px;
  color: var(--text);

  position: relative;
  padding: 6px 0;

	&>label {
		position: relative;

		&:hover {
			cursor: pointer;
		}

		&>span {
			position: relative;
			padding-left: 45px;
			user-select: none;
		}
		&>span::before {
			content: '';
			position: absolute;
			top: 1px;
			left: 1px;
			width: var(--checkWidth);
			height: var(--checkSize);
			background-color: $white_1;
			border: var(--checkBorder) solid var(--inputFocus);
			border-radius: var(--checkSize);
			transition: all .1s ease;
		}
		&>span:hover::before {
			box-shadow: 0 0 1px 0px $black_2;
		}
		&>span::after {
			content: '';
			position: absolute;
			top: 1px;
			left: 1px;
			width: var(--checkSize);
			height: var(--checkSize);
			background-color: var(--bg-header);;
			border: var(--checkBorder) solid var(--inputFocus);
			border-radius: var(--checkSize);
			transition: all .2s ease;
		}
		&>input[type="checkbox"]:checked ~ span::before {
			content: '';
			position: absolute;
			top: 1px;
			left: 0px;
			width: var(--checkWidth);
			height: var(--checkSize);
			background-color: var(--bg-header);
			border: var(--checkBorder) solid var(--inputFocus);
			border-radius: var(--checkSize);
			transition: all .1s ease;
		}
		&>input[type="checkbox"]:checked ~ span::after {
			content: '';
			position: absolute;
			top: 1px;
			left: calc(var(--checkWidth) - var(--checkSize));
			width: var(--checkSize);
			height: var(--checkSize);
			background-color: $white_1;
			border: 1px solid $black_2;
			border-radius: var(--checkSize);
			transition: all .2s ease;
		}

		&>input[type="checkbox"] {
			display: none;
		}
	}
}

.checkbox.disabled {
	position: relative;

	&>label {
		position: relative;

		&:hover {
			cursor: default;
		}

		&>span:hover::before {
			box-shadow: 0 0 0px 0px transparent;
		}

		&>span::before {
			content: '';
			position: absolute;
			top: -2px;
			left: 0px;
			width: 45px;
			height: 20px;
			background-color: var(--inputFocus);
			border: 1px solid var(--inputFocus);
			border-radius: 20px;
			transition: all .1s ease;
		}
		&>span::after {
			content: '';
			position: absolute;
			top: 0px;
			left: 3px;
			width: 16px;
			height: 16px;
			background-color: var(--inputFocus);
			border: 1px solid var(--inputFocus);
			border-radius: 20px;
			transition: all .2s ease;
		}

		&>input[type="checkbox"] {
			display: none;
		}
	}
}
