@import '../../colors.scss';

.top-panel {
  display: grid;
  grid-template: "a b c";
  grid-template-columns: auto 1fr auto;
  background-color: $gray_1;

  &>.panelButtons {
    display: inline-flex;
    flex-direction: row;
    align-content: center;

    &>.button {
      display: flex;
      align-items: center;
      padding: 12px;
      &:hover {
        background-color: $gray_2;
        cursor: pointer;
      }
    }
  }
}


