.top-panel {
  display: grid;
  grid-template: "a b c";
  grid-template-columns: auto 1fr auto;
  background-color: var(--bg-header);
  -webkit-app-region: no-drag;

  &>.panelButtons {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    -webkit-app-region: no-drag;

    &>.button {
      display: flex;
      align-items: center;
      -webkit-app-region: no-drag;
    }
  }

  &:hover .tab__close {
    opacity: 0.16;
  }
}
