.top-panel {
  display: grid;
  grid-template: "a b c";
  grid-template-columns: auto 1fr auto;
  background-color: var(--bg-header);

  &>.panelButtons {
    display: inline-flex;
    flex-direction: row;
    align-content: center;

    &>.button {
      display: flex;
      align-items: center;
    }
  }
  
  &:hover .tab__close {    
    opacity: 0.16;
  }
}
