.top-panel {
  display: grid;
  grid-template: "a b c";
  grid-template-columns: auto 1fr auto;
  background-color: var(--bg-header);
  -webkit-app-region: drag;

  &>.panelButtons {
    -webkit-app-region: no-drag;
    display: inline-flex;
    flex-direction: row;
    align-content: center;

    &>.button {
      display: flex;
      align-items: center;
    }
  }
}
