@import '../../colors.scss';

.settings {
  padding: 5% 0px;
  width: 70%;
  margin: auto;
  height: -webkit-fill-available;

  &__header {
    border-top: 1px solid var(--inputFocus);
    border-left: 1px solid var(--inputFocus);
    border-right: 1px solid var(--inputFocus);
  }

  &__panel {
    display: flex;
    justify-content: left;
    align-items: center;
    background: var(--toolbarBg);
    color: var(--panel);
    padding: 14px 10px 14px 30px;
    border-left: 1px solid var(--inputFocus);
    border-right: 1px solid var(--inputFocus);
  }

  &__body {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
    background: var(--panel);
    padding: 20px 30px;
    height: 80%;
    border-bottom: 1px solid var(--inputFocus);
    border-left: 1px solid var(--inputFocus);
    border-right: 1px solid var(--inputFocus);

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
    &::-webkit-scrollbar-thumb {
      width: 0;
      background: transparent;
    }
  }

  &__tab {
    padding: 10px 0px;
    margin-right: 36px;
    background: var(--toolbarBg);

    &:hover {
      cursor: pointer;
      background: var(--toolbarBg);
    }
  }
}
