.container {
  position: absolute;
  background-color: var(--bg-panel);
  width: -webkit-fill-available;
  padding: 32px 32px 8px 32px;
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
}
