.tabBar {
  position: relative;
  overflow-x: hidden;
  display: flex;
  align-content: stretch;
}

.tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  user-select: none;
  overflow: hidden;
  background-color: var(--bg-tab);
  color: var(--fg-tab);
  fill: var(--fg-tab);

  &:hover {
    background-color: var(--bg-tab-hover);
    color: var(--fg-tab-hover);
    fill: var(--fg-tab-hover);
    cursor: pointer;
  }

  &__text {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: clip;
    font-size: var(--fontControlSize);
    margin-right: 6px;
  }

  &__close {
    height: 16px;
    color: var(--fg-tab);
    fill: var(--fg-tab);

    &:hover {
      color: var(--fg-tab-hover);
      fill: var(--fg-tab-hover);
      cursor: pointer;
    }
  }

  &_active {
    background-color: var(--bg-tab-active);
    color: var(--fg-tab-active);
    fill: var(--fg-tab-active);
    opacity: 1;
  }

  &_main_active {
    background-color: #ffffff;
    color: #000000;

    &:hover {    
      cursor: default;
      background-color: #ffffff;
      color: #000000;
    }
  }
}
