@import '../../colors.scss';

.tabBar {
  position: relative;
  overflow-x: hidden;
  display: flex;
}

.tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  user-select: none;

  &:hover {
    background-color: $gray_2;
  }

  &__text {
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    font-size: var(--fontControlSize);
    margin-right: 6px;
  }

  &__close {
    height: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  &_active {
    background-color: $gray_2;
  }
}

.fakeTab {
  position: relative;
  display: inline;
  align-items: center;
  padding: 0px 10px;
  pointer-events: none;
  user-select: none;
  background-color: transparent;

  &>span {
    opacity: 0;
    white-space: nowrap;

    font: {
      size: 10px;
    }
  }
}

.tabClose {
  margin: 0px 0px 3px 10px;

  &:hover {
    cursor: pointer;
  }
}

.newTab {
  display: flex;
  align-items: center;
  padding: 2px 6px;

  &:hover {
    background-color: $black_1;
    cursor: pointer;
  }
}
