@import '../../../../../colors.scss';

.general {
	padding-bottom: 20px;
	.section {
		padding-bottom: 20px;
		border-bottom: 1px solid $gray_2;

		.selectFolder {
			display: flex;
			justify-content: space-between;
		}
	}

	.add {
		align-self: center;

		&:hover {
			cursor: pointer;
		}
	}

	.button {
		&:hover {
			cursor: pointer;
		}
	}
}