[Desktop Entry]
Name=Figma Linux
Comment=Unofficial desktop application for linux
Exec=figma-linux %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
StartupWMClass=figma-linux
Categories=Graphics;
MimeType=application/figma;x-scheme-handler/figma;
