[Desktop Entry]
Name=Figma Linux
Comment=Unofficial desktop application for linux
Exec=figma-linux %U
Terminal=false
Type=Application
Icon=figma-linux
StartupWMClass=figma-linux
X-AppImage-Version=0.9.1
Categories=Graphics;
MimeType=application/figma;x-scheme-handler/figma;
