[Desktop Entry]
Name=Select for Figma
Comment=Unofficial desktop application for linux
Exec=/opt/select-for-figma/select-for-figma %U
Terminal=false
Type=Application
Icon=select-for-figma
StartupWMClass=select-for-figma
Categories=Graphics;
MimeType=application/figma;x-scheme-handler/figma;
