@import '../../colors.scss';

.text {
  font: {
    size: var(--fontSize);
    family: 'Inter', sans-serif;
  }

  &_title {
    display: block;
    font-size: var(--fontTitleSize);
    font-weight: 600;
  }
  &_subtitle {
    color: var(--text);
    display: block;
    padding-bottom: 20px;
    font-size: var(--fontSubtitleSize);
    font-weight: 600;
  }

  &_light {
    color: var(--fg-tab-active);
  }
  &_dark {
    color: var(--text-active);
  }
  &_inactive {
    color: var(--text-disabled);
  }

  &_nopadding {
    padding: 0;
  }
}
