.container {
  position: absolute;
  background-color: var(--bg-panel);
  width: -webkit-fill-available;
  padding: 32px 32px 8px 32px;
  user-select: none;
}

.colorPaletteDiv {
  display: block;
}

.iframeView {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
  padding: 20px;
}

.toolBarElem {
  display: flex;
  background-color: var(--bg-panel);
  border: 1px solid var(--borders);
  padding: 6px;
  border-radius: 3px;
}

.previewPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  background-color: var(--bg-panel);
  border: 1px solid var(--borders);
  border-radius: 6px;
}
