.container {
  position: absolute;
  width: -webkit-fill-available;
  background-color: var(--bg-panel);
  overflow: auto;
  padding: 32px 32px 8px 32px;
  user-select: none;
}

.themeFake {
  display: block;
}
