.creator {
  padding: 5% 0px;
  width: 80%;
  margin: auto;
  height: -webkit-fill-available;
}
.creator__header {
  border-top: 1px solid var(--borders);
  border-left: 1px solid var(--borders);
  border-right: 1px solid var(--borders);
}

.creator__body {
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-rows: 1fr 50px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  background: var(--bg-panel);
  padding: 20px 30px;
  height: 80%;
  border-bottom: 1px solid var(--borders);
  border-left: 1px solid var(--borders);
  border-right: 1px solid var(--borders);
}
.creator__body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.creator__body::-webkit-scrollbar-thumb {
  width: 0;
  background: transparent;
}

.creator__body_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px 1fr;
  grid-template-areas:
    "a b"
    "c d"
    "e e";
}

.creator__body_zoom {
  padding: 10px 20px 0 0;
}

.creator__body_buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.creator_view {
  grid-area: e;
  height: 50vmin;
  margin: 20px 20px 0 0;
  padding: 20px;
  overflow: auto;
  background-color: #ffffff;
}
.creator_view::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.creator_view::-webkit-scrollbar-thumb {
  width: 0;
  background: transparent;
}

.creator_list {
  height: 58vmin;
}
.creator_list_item {
  display: grid;
  grid-template-columns: 40px 1fr;
}
