.list {
  height: 170px;
  position: relative;
  overflow-y: scroll;
  padding-left: 10px;
  background-color: var(--bg-panel);

}
.list::-webkit-scrollbar {
  width: 4px;
}
.list::-webkit-scrollbar-track {
  background-color: transparent;
}
.list::-webkit-scrollbar-thumb {
  background-color: var(--gray_2);
  border-radius: 5px;
}

.list_hidden_tracks {}
.list_hidden_tracks::-webkit-scrollbar {
  width: 0px;
  border: none;
  background-color: transparent;
}

.list_hidden_tracks::-webkit-scrollbar-track {
  width: 0px;
  border: none;
  background-color: transparent;
}

.list_hidden_tracks::-webkit-scrollbar-thumb {
  width: 0px;
  border: none;
  background-color: transparent;
}

.list_grab {
  cursor: grab;
  overflow: auto;
  user-select: none;
}

.list__item {
  display: flex;
  color: var(--text);
  align-items: center;
  padding: 10px 0px 10px 0px;
}
.list__item > span {
  max-width: calc(100vw - 320px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list__delete {
  margin-right: 10px;
  height: 16px;

}
.list__delete:hover {
  cursor: pointer;
}
