.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--normal-bg-color);
  color: var(--normal-fg-color);
  border-radius: var(--border-radius);
  width: var(--width);
  height: var(--height);
  padding: var(--padding);
  transition: all 0.1s ease;
  user-select: none;
  opacity: 0.6;
  font-size: var(--text-size-tab-view);
  white-space: nowrap;
}

.item:hover {
  opacity: 1;
  color: var(--hover-fg-color);
  background-color: var(--hover-bg-color);
}

.active {
  opacity: 1;
  color: var(--active-fg-color);
  background-color: var(--active-bg-color);
}
