.container {
  display: inline-flex;
  align-items: center;
  color: var(--text);
  position: relative;
  padding: 6px 0;
}

.label {
  position: relative;
}

.label:hover {
  cursor: pointer;
}

.span {
  position: relative;
  padding-left: 40px;
  user-select: none;
}

.span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;
  width: var(--checkWidth);
  height: var(--checkSize);
  background-color: var(--white_1);
  border: var(--checkBorder) solid var(--borders);
  border-radius: var(--checkSize);
  transition: all 0.1s ease;
}

.span:hover::before {
  box-shadow: 0 0 1px 0px var(--black_2);
}

.span::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;
  width: var(--checkSize);
  height: var(--checkSize);
  background-color: var(--bg-header);
  border: var(--checkBorder) solid var(--borders);
  border-radius: var(--checkSize);
  transition: all 0.2s ease;
}

.checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0px;
  width: var(--checkWidth);
  height: var(--checkSize);
  background-color: var(--bg-header);
  border: var(--checkBorder) solid var(--borders);
  border-radius: var(--checkSize);
  transition: all 0.1s ease;
}

.checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: calc(var(--checkWidth) - var(--checkSize));
  width: var(--checkSize);
  height: var(--checkSize);
  background-color: var(--white_1);
  border: 1px solid var(--black_2);
  border-radius: var(--checkSize);
  transition: all 0.2s ease;
}

.input {
  display: none;
}
