
$css-vars-use-native: true;

$white_1: #fff;

$black_1: #050505;
$black_2: #333333;
$black_3: #222222;

$llgray_1: #F2F2F2;
$lgray_1: #D1D1D1;
$lgray_2: #828282;
$gray_1: #2c2c2c;
$gray_2: #444444;

$blue_1: #30C2FF;
$blue_2: #d8f3ffff;

$red_1: #e81123;

$second_text_color: #B3B3B3;
