name: Setup

on: workflow_call

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache src
        uses: actions/upload-artifact@v3
        with:
          name: repo
          path: ./*